﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Tecnologías utilizadas</h3>
<ul>
    <li>.NET Framework</li>
    <li>MySql (Store File)</li>
    <li>Bootstrap</li>
</ul>

<h3>Features</h3>
que hace la app
<ul>
    <li></li>
    
</ul>