﻿@{
    ViewBag.Title = "Store";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Git repository</h3>
<h4>@ViewBag.GitRepo</h4>

<br/>
<address>
    UPM student<br />
    Máster en Ingeniería Web - .NET<br />
    <!-- <abbr title="Phone">P:</abbr>
     425.555.0100-->
</address>

<address>
    <strong>Personal:</strong>   <a href="mailto:daxamayac@gmail.com">daxamayac@gmail.com</a><br />
    <strong>Student:</strong> <a href="mailto:d.acruz@alumnos.upm.es">d.acruz@alumnos.upm.es</a>
</address>