﻿@{
    ViewBag.Title = "Home Page";
}

@using Virtual_Store.Models

<div class="jumbotron" style="
      background-image: url('/Content/home.jpg');
      background-position: center;
      background-size:cover;
      min-height: 50vh;
    ">
    <h1>VIX STORE</h1>
    <p class="lead">Tienda virtual de ropa, accesorios y material para todo varios deportes</p>
    <p>
        <a href="@Url.Action("Index","Shopping")" class="btn btn-primary btn-lg">Tienda &raquo;</a>
    </p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Escoge</h2>
        <p>
            Recuerda que para agregar artículos al carrito no hace falta autenticarse.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Pide</h2>
        <p>Para realizar el pago y pedido es necesario que tengas una cuenta y estes autenticado en la tienda.</p>

    </div>
    <div class="col-md-4">
        <h2>Espera</h2>
        <p>Una vez realizado el pedido, será entregado en un máximo de 48 horas.</p>
    </div>

</div>

<div class="jumbotron">
    
        <div class="  alert alert-dark" role="alert">
            <h3>Los mejores productos!!!</h3>
        </div>
        <div class="row">


            @foreach (Product p in ViewBag.Products)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <!-- <a href="#"><img class="card-img-top" src="@p.image" alt=""></a>-->
                        <img class="card-img-top" src="@p.image" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <!-- <a href="#">@p.name</a>-->
                                @p.name
                            </h4>
                            <h5>$@p.price</h5>
                            <p class="card-text">@p.description</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">
                                @Html.ActionLink("Añade al Carrito", "Add", "Shopping", new { id = p.Id }, null)
                            </a>
                        </div>
                    </div>

                </div>

            }

        </div>

    <p>
        <a href="@Url.Action("Index","Shopping")" class="btn btn-primary btn-lg">Ver más productos &raquo;</a>
    </p>
</div>