﻿@{
    ViewBag.Title = "Store";
}

@using Virtual_Store.Models
<h2>@ViewBag.Title</h2>



<div class="row">

    <div class="col-lg-3">
        <div class="list-group">
            @foreach (Category c in ViewBag.categories)
            {
                <a class="list-group-item" href="@Url.Action("Category","Shopping", new { id = @c.Id})">@c.name</a>
            }
        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
        <h1 class="my-4"> @ViewBag.categoryEnable</h1>
        <div class="row">


            @if (ViewBag.products != null)
            {
                foreach (Product p in ViewBag.products)
                {


                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 text-center">
                            <a href="#"><img class="card-img-top " src="@p.image" alt="" style="max-height: 200px; max-width: 250px; margin: auto; width: auto;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">@p.name</a>
                                </h4>
                                <h5>$@p.price</h5>
                                <p class="card-text">@p.description</p>
                            </div>
                            <div class="card-footer">
                                @if (p.stock > 0)
                                {
                                    @Html.ActionLink("Añade al Carrito", "Add", "Shopping", new { id = p.Id }, null)
                                }
                                else
                                {<div class="alert alert-danger" role="alert">
                                        AGOTADO!
                                    </div>}
                            </div>
                        </div>
                    </div>

                }
            }







        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
