﻿
@{
    ViewBag.Title = "Pedidos";
}

@using Virtual_Store.Models

<h2>@ViewBag.Title</h2>

<div class=" my-5 d-flex justify-content-center">
    <div class="card card-1">
        <div class="card-header bg-white">
            <div class="media flex-sm-row flex-column-reverse justify-content-between ">
                <div class="col my-auto">
                    <h4 class="mb-0">Historial de compras</h4>
                </div>

            </div>
        </div>
        <div class="card-body">




            @foreach (Order o in ViewBag.orders)
            {

                <div class="row mb-3">
                    <div class="col">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="media">

                                    <div class="media-body my-auto text-right">
                                        <div class="row my-auto flex-column flex-md-row">
                                            <div class="col my-auto">
                                                <h6 class="mb-0">Code:  @o.Id</h6>
                                            </div>

                                            <div class="col my-auto">
                                                <h6 class="mb-0"> Fecha: <small> @o.date</small></h6>
                                            </div>

                                            <div class="col my-auto">
                                                <h6 class="mb-0"> Dirección :<small>  @o.shippingAddress</small></h6>
                                            </div>

                                            <div class="col my-auto"> <small>$   @o.total</small></div>
                                            <div class="col my-auto">
                                                <h6 class="mb-0"> @o.status</h6>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>

    </div>
</div>






