﻿

@{
    ViewBag.Title = "Pago";
}

@using Virtual_Store.Models

<h2>@ViewBag.Title</h2>
<a href="@Url.Action("Index","Shopping")" class="btn btn-primary btn-lg">Continuar comprando</a>

Hola @User.Identity.Name Agradecemos tu compra!..


<div class="row">
    <div class="col-sm">
        <div class=" my-5 justify-content-center">
            <div class="card card-1">
                <div class="card-header bg-white">
                    <div class="media flex-sm-row flex-column-reverse justify-content-between ">
                        <div class="col my-auto">
                            <h4 class="mb-0">Gracias por su compra,<span class="change-color">@User.Identity.Name</span> !</h4>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-between mb-3">
                        <div class="col-auto">
                            <h6 class="color-1 mb-0 change-color">Order</h6>
                        </div>
                    </div>


                    
                    @foreach  (ProductItem item in  ((ShoppingCart) ViewBag.cart).ToList())
                    {
                       
                        <div class="row mb-3">
                            <div class="col">
                                <div class="card card-2">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="sq align-self-center ">
                                                <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="@item.image" width="135" height="135" />
                                            </div>
                                            <div class="media-body my-auto text-right">
                                                <div class="row my-auto flex-column flex-md-row">
                                                    <div class="col my-auto">
                                                        <h6 class="mb-0">Code:  item.Id</h6>
                                                    </div>
                                                    <div class="col my-auto">
                                                        <h6 class="mb-0"> item.name</h6>
                                                    </div>

                                                    <div class="col my-auto"> <small>Qty :  item.quantity</small></div>
                                                    <div class="col my-auto">
                                                        <h6 class="mb-0">$   @(item.quantity * item.price)</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-auto px-3">


                                                @Html.ActionLink("Quitar", "Remove", "Shopping", new { id = item.Id }, new { @class = "btn btn-danger waves-effect px-3" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }


                </div>
                <div class="card-footer">
                    <div class="jumbotron-fluid">
                        <div class="row justify-content-between ">
                            <div class="col-sm-auto col-auto my-auto"></div>
                            <div class="col-auto my-auto ">
                                <h2 class="mb-0 font-weight-bold">TOTAL </h2>
                            </div>
                            <div class="text-right">
                                <h1 class="display-3 ">$ @ViewBag.total</h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="col-sm">


        <div class=" my-5 justify-content-center">
            <div class="card card-1">
                <div class="card-header bg-white">
                    <div class="media flex-sm-row flex-column-reverse justify-content-between ">
                        <div class="col my-auto">
                            <h4 class="mb-0">Gracias por su compra,<span class="change-color">Pago</span> !</h4>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre tirular de tarjeta</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Numero de  Tarjeta</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">CVV</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Direccion de envio</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>



                </div>
                <div class="card-footer">
                    <div class="jumbotron-fluid">
                        <div class="row justify-content-between ">
                            <div class="col-sm-auto col-auto my-auto"></div>
                            <div class="col-auto my-auto ">
                                <a href="@Url.Action("Pay","Shopping")" class="btn btn-success btn-lg">Pagar</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>